
.singleInput div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: solid 1px; */
    width: 70%;
    height: 50%;
    margin-top:-10%;
}

.singleInput div span {
    background-color: var(--input-bg);
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius-sm);
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleInput div span:has(input[type="radio"]:checked) {
    background-color: var(--primary-color);
    color: var(--button-text);
}

.singleInput div span input {
    display: none;
}

.singleInput div span {
    font-size: large;
    padding: 4px 0;
}